footer.footer
	.container
		.row
			.col-md-6.col-sm-6.col-xs-12
				p.footer__copyright © Copyright 2010 - 2013. Altair. All rights reserved. 
			.col-md-6.col-sm-6.col-xs-12
				.social-links
					span Follow Us:
					a(href="#")
						i.fab.fa-facebook-f
					a(href="#")
						i.fab.fa-twitter
					a(href="#")
						i.fab.fa-dribbble